<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit chat</title>
</head>
<body>
    <h3>Edit chat here:</h3>
    <h5>Chat id is <%= chat.id %></h5>
    <p>This chat was sent from <b><%= chat.from %></b> to <b><%=chat.to%></b>.</p>
    <form action="/chats/<%=chat._id %>?_method=PUT" method="post">                 <!--coz form madhe fkt 2 ch req send krta yetat - get n put so need to override it. hence npm i method-override-->
        <textarea name="msg" id="msg" rows="6" cols="45"><%= chat.msg %></textarea><br>
        <button>Edit</button>
    </form>
</body>
</html>